@page
@model WebApplication4.Pages.Admin.EditOrders


<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>

<table class="table table-bordered">
    <thead>
    <tr>
    <th>Beställare</th>
    <th>Ordernummer</th>
    <th>Produkter</th>
    <th>Antal</th>
    <th>Totalpris</th>
    </tr>
    </thead>
    @foreach (var orders in Model.Orders) {
        <form method="post">
        <input type="hidden" name="Order.OrderId" value="@orders.OrderNumber"/>
        <tbody>
        <tr>
            <td>@orders.User.Username</td>
            <td>@orders.OrderNumber</td>
            <td>@orders.Product.ProdName</td>
            <td>@orders.Quantity</td>
            <td>@orders.TotalPrice</td>
            <td><button class="btn btn-danger" type="submit" asp-page-handler="Delete" asp-route-id="@orders.OrderId">Ta bort</button></td>
            <td><button class="btn btn-primary" type="submit" asp-page-handler="Download" asp-route-id="@orders.OrderNumber">Visa Kvitto</button></td>
        </tr>
        </tbody>
        </form>
    }
</table>
  
</body>
</html>