@page
@using WebApplication4.Data
@model WebApplication4.Pages.Admin.EditProducts

@{

}

<!DOCTYPE html>

<html>
<head>
    <title>Redigera Produkter</title>
</head>
<body>
    <div>
        @{
            //form för att lägga till en produkt
            <div class="regcontainer" style="padding:20px">
                <form method="post" asp-page-handler="Create" class="form">
                    <h3 class="regrubrik">Lägg till en produkt</h3>
                    <p class="regtext">Se till att filnamn på bild finns i wwwroot/images</p>

                    <div class="form-group">
                        <label asp-for="Product.ProdName">Produktnamn:</label>
                        <input type="text" class="textbox" asp-for="Product.ProdName" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Product.ProdDescription">Beskrivning:</label>
                        <input type="text" class="textbox" asp-for="Product.ProdDescription" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Product.ProdPrice">Pris:</label>
                        <input type="text" class="textbox" asp-for="Product.ProdPrice" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Product.ProdImage">Bild(Filnamn):</label>
                        <input type="text" class="textbox" asp-for="Product.ProdImage" />
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Lägg till produkt" />
                    </div>
                </form>
            </div>


            //Visar all produkter samt knapp för att uppdatera och ta bort
            foreach (Product product in Model.Products)
            {
                <label asp-for="Product.ProdName">Produkt:</label>
                <th>@product.ProdName</th>
                <form method="post">

                    <input type="hidden" asp-for="Product.ProductId" value="@product.ProductId" />

                    <label asp-for="Product.ProdName">Namn:</label>
                    <input type="text" asp-for="Product.ProdName" value="@product.ProdName" placeholder="Namn" />

                    <label asp-for="Product.ProdDescription">Beskrivning:</label>
                    <input type="text" asp-for="Product.ProdDescription" value="@product.ProdDescription" placeholder="Beskrivning" />

                    <label asp-for="Product.ProdPrice">Pris:</label>
                    <input type="text" asp-for="Product.ProdPrice" value="@product.ProdPrice" placeholder="Pris" />

                    <label asp-for="Product.ProdImage">Bild:</label>
                    <input type="text" asp-for="Product.ProdImage" value="@product.ProdImage" placeholder="Bild" />

                    <button class="btn btn-primary" type="submit" asp-route-id="@product.ProductId">Uppdatera</button>
                    <button class="btn btn-danger" type="submit" asp-page-handler="Delete" asp-route-id="@product.ProductId">Ta bort</button>
                </form>
            }
        }
    </div>

    <style>
        form{
            padding-bottom: 1.5em;
        }

        label{
            padding-top: 0.5em;
        }
    </style>

</body>
</html>
