@page "{id:int}" 
@model WebApplication4.Pages.ProductDetailsModel
@{
    ViewData["Title"] = Model.Product.ProdName;
}

<h2>@Model.Product.ProdName</h2>
<img src="@Url.Content("~/images/" + Model.Product.ProdImage)" class="template-img" alt="@Model.Product.ProdName">
<p>@Model.Product.ProdDescription</p>
<p>Pris: @Model.Product.ProdPrice kr</p>

<a asp-page="DisplayProductTemplate">Tillbaka till produktsidan</a>